@media only screen and (max-width: 568px) {
    header{
        width: 1140px;
    }
    
    
    section{
        width: 1140px;
    }
    
    .about-us{
        font-size: 300%;
    }
    
    
    .products{
        height: 550vh;
    }
    
    #other{
        margin-left: 50px;
    }
}