/* big tablet smaller than row: from 1024px to 1200px */

@media only screen and (max-width: 1200px) {
    .shop-name-header h1{
        font-size: 120%;
        margin-top: 30px;
        margin-right: 80px;
    }
    
    .shop-name-header h2{
        font-size: 90%;
        margin-left: 55px;
    }
    
    .header-buttons{margin-left: 150px;}
    
    .btn-full:link,
    .btn-full:visited{
        padding: 8px 30px;
    }
    
    header{height: 65vh;}
    
    h2{
        width: 100%;
        border: 0;
        margin-top: 40px;
    }
    
    .about-us-content{
        width: 95%;
        font-size: 100%;
        margin-top: 35px;
    }
    
    .barber-box{margin-bottom: 100px;}
    
    .about-us-box{text-align: center; margin: 0;}
    .about-us-box img{}
    
    .footer-pic{margin-left: -40px;}
    
    .footer-info{
        width: 100%; 
        font-size: 75%;
        margin-top: 20px;
        margin-left: 105px;
    }
    
    .social-links{
        margin-left: 80px;
        margin-top: 40px;
        font-size: 90%;
    }
    
    .copyright{margin-top: 10px;}
    
}

/*small tablet to big tablet: from 768px to 1023px */

@media only screen and (max-width: 1023px) {
    
    .nav-main{font-size: 80%; margin-top: -80px;}
    
    .btn-full:link,
    .btn-full:visited{padding: 1px 8px;}
    
    .header-buttons a{margin-left: 25px; margin-top: 10px;}
    
    .about-us-box{width: 100%;}
    .section-about-us img{width: 50%; margin-left: 185px; margin-top: 0; margin-bottom: 0;}
    .about-us-content{margin-top: 20; text-align: center;}
    .about-us{margin-top: 0;}
    .section-reservation h3{margin-left: 50px; font-size: 70%;}
    
    .barber-box img{height: 15%;}
    .barber-box{font-size: 80%; padding-bottom: 25px;}
    
    .footer-info{margin-left: 50px;}
    .social-links{margin-left: 120px;}
    .copyright{margin-top: 15px; margin-right: 20px;  text-align: right;}
    
    
}

/* small phones and tablets: from 481px to 767px */

@media only screen and (max-width: 767px) {
    .nav-main{font-size: 60%;}
    .nav-main li{margin: 5px;}
    .header-background{height: 40vh;}
    .shop-name-header h1{
        text-align: center;
        margin-top: 20px;
        font-size: 95%;
    }
    
    .shop-addy{
        margin-right: 22px;
        font-size: 95%;
    }
    
    .header-buttons{font-size: 80%; display: inline-block;}
    
    .divider{padding-top: 0px;}
    .about-us-box img{margin-left: 25%; margin-right: 25%; margin-top: -20px; margin-bottom: 10px;}
    .about-us-content{font-size: 95%; width: 100%; margin: 8px 0px}
    
    .section-reservation h3{
        font-size: 60%;
        margin-left: 10px; margin-top: 20px;
    }
    
    .section-reservation{
        background-position: top center;
        height: 80vh;
    }
    
    .barber-box{
        margin: 10px 0px;
        padding: 10px;
    }
    
    .barber-box img{height: 100px; width: auto;}
    footer{margin-top: 0; height: 210px;}
    .footer-info{width: 100%; margin-top: -40px; margin-left: 0; text-align: center;font-size: 60%; }
    
    .footer-pic{width: 100%; margin-top: 55px; text-align: center;}
    .footer-pic img{height: 90px;}
    .social-links{text-align: center; margin-left: 0; margin-top: 10px;}
    
    .copyright{margin-top: 2px;}
}

/* small phones: from 0 to 480px*/

@media only screen and (max-width: 480px) {
    .nav-main{font-size: 50%;}
    .shop-name-header h1{width: 100%; margin-left: 0;}
    .shop-name-header h2{
        text-align: center; 
        margin-left: 25%;
        font-size: 70%;
    }

    .header-buttons a{margin-top: 20px; font-size: 80%; margin-right: 0; margin-left: 0; display: inline-block;}
    .about-us-box img{height: 150px;}
    
    .section-reservation{height: 70vh;}
    .section-reservation h3{font-size: 50%;}
    
    .barber-box img{ height: 95px; width: 95px;}
    
    .section-one-images,
    .section-two-images,
    .section-three-images {height: 100px;}
    
    .copyright{font-size: 60%;}
    
}