
/* Setting up the page */

* {
    box-sizing: border-box;
    padding: 0;
    margin 0;
        
}

html {
    font-family: 'Comfortaa', cursive;
    font-size: 18px;
}


/* HEADER */

header {
    height: 105vh;
    margin-top: 0;
    background-image: url(grid%20splatter.jpg);
    background-size: cover;
}

#header-name {
    margin-top: 0;
    padding-top: 0;
    font-family: 'Glass Antiqua', cursive;
    font-weight: 100;
    font-size: 280%;
    margin-top: 20px;
    margin-right: 60px;
    float: right;
    text-transform: none;
    color: #000;
}

#header-slogan {
    font-weight: 200;
    font-size: 150%;
    margin-top: 50px;
    margin-left: 60px;
    text-align: left;
    text-transform: none;
    color: #000;
}

.headshot img{
    image-orientation: 90deg;
    border-radius: 10%;
    height: 300px; 
    margin-top: 80px;
    margin-left: 170px;
}

/* REUSEABLE COMPONENTS */

h1{
    text-align: center;
    text-transform: lowercase;  
    color: #ec23ec;
}



/*------------MAIN NAVIGATION -------------*/

.main-nav {
    list-style: none;
    text-decoration: none;
    padding-top: 15px;
    margin-left: 10px;
}

.main-nav li{
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}

.main-nav li a:link,
.main-nav li a:visited{
    text-decoration: none;
    color: #ce23ce;
    text-transform: lowercase;
}

.main-nav li a:hover,
.main-nav li a:active{
    padding-bottom: 3px;
    border-bottom: solid 2px rgba(0, 245, 255, 0.76);
    color: #000;
}


/*SECTION WHAT*/

.section-what{
    height: 100vh;
    background-color: rgba(255, 240, 240, 0.8);
    padding-top: 30px;   
}

.content-what{
    margin-top: 20px;
}

.content-what p{
    margin-left: 30px;
    width: 80%;   
}
.image-what{
    text-align: center;
}

.image-what img{
    width: 80%;
    margin-top: 60px;
}
    